body{
background-image: url(https://images.unsplash.com/photo-1533912352517-92dd08116ea4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-size: cover;

}
.header{
    font-size: 50px;
    text-align: center;
    color:rgba(235, 11, 11, 0.993);
}
.info{
    font-size: 30px;
    text-align: center;
    color:rgb(238, 185, 10);
}
.subject{
    color:rgb(9, 27, 131)
}
.h1{
    text-align: left;
    color: darkgreen;
}
.h2{
    color:darkmagenta;
}
.h{
    color: blue;
    text-align: center;
}